body {
    background-color: white;
    background-image: url("../images/background.png");
    color: #404040;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: auto;

}
.banner
{
    height: 50pt;
    background-image: url("../images/bannerbg.png");
}
.banner img {
    display: block;
    margin: auto;
}
.header
{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
    text-shadow: 3px 3px #999999;
}
.body-content
{
    width: 800px;
    margin: auto;
    border: 4pt solid gray;
    border-radius: 25px;
    overflow:hidden;
    padding: 0pt;
}
.overall
{
    width: 550px;
    height: 83px;
    margin-top: 0px;
    background-image: url("../images/rbg.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;

}
.overall img
{
    vertical-align: bottom;

}

.review-section
{
    column-count: 2;
    column-gap: 2%;
    width: 100%;

}

.review-column
{
    display: inline-block;
    font-size: 10pt;
    color: #404040;
    margin-left: 5pt;
    margin-right: 5pt;

    margin-bottom: 20pt;

}
.quote
{
    background-color: #E8DC9B;
    border: 2pt solid gray;
    border-radius: 10px;
    padding: 10pt;
}



.overview
{
    margin-top: 0px;
    width: 250px;
    float: right;
    background-color: #A2B964;
}

.overview dl{
    margin-left: 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

.overview dt{

    margin-top: 10pt;
    font-size: 10pt;
    font-weight: bold;
}




