body
{
    background-image: url("../images/snowbg.gif");
    color: azure;
}
.emp
{
    font-family: Georgia;
    color:chocolate;
}

.title
{
    font-family: "Arial Black";

}

.title h1
{
    color:yellowgreen;
}


.title p:first-letter
{
    text-transform: uppercase;
    font-size:xx-large;
}

.section h2
{
    font-family: "Times New Roman";
    color:yellow;
}

.reverseOrder { display: flex; flex-direction: column-reverse; }

.dt
{
    color:coral;
}

/* unvisited link */
a:link { color: #FF0000;text-decoration:none; }
/* visited link */
a:visited { color: #00FF00; }
/* mouse over link */
a:hover { color: #FF00FF;text-decoration:underline; }
/* click on a link */
a:active { color: #0000FF; }
